@use "styles/variables" as *;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  fill: $brand;
  animation: rotate 2s linear infinite;
  margin: auto;

  &__size {
    &-l {
      width: $loader-l;
      height: $loader-l;
    }

    &-m {
      width: $loader-m;
      height: $loader-m;
    }

    &-s {
      width: $loader-s;
      height: $loader-s;
    }
  }
}
