@use "styles/variables" as *;

.input {
  border: none;
  height: 100%;
  width: 100%;
  display: block;
  padding: 14px 12px;
  border-radius: $border-radius;
  background-color: white;
  color: $text-secondary;

  &:focus {
    outline: none;
    border: 1px solid $brand;
  }

  &:disabled {
    background-color: white;
  }

  &__content {
    height: 52px;
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 12px;
    bottom: 50%;
    transform: translateY(50%);
  }
}
