@use "styles/variables" as *;
@use "styles/mixins" as mixins;

.navbar {
  @include mixins.flex;
  width: 100%;
  justify-content: center;

  margin: $elements-margin-s 0;

  &__menu {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: $elements-margin;
    color: $text-primary;
  }
}

@media (max-width: 540px) {
  .navbar__menu {
    flex-direction: column;
    gap: $elements-margin-s;

    &__link1 {
      order: 2;
    }

    &__logo {
      margin-top: $elements-margin-s;
    }

    margin-bottom: $elements-margin-s;
  }
}
