$border-radius: 6px;

$loader-l: 60px;
$loader-m: 48px;
$loader-s: 24px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$background: #e6e9ef;

$text-primary: #26242b;
$text-semi-primary: #6a6872;
$text-secondary: #afadb5;

$brand: #95939d;
$brand-hover: #706d7e;

$focus: #26242b;
